code/synapse/pipeline/MainPipeline.json
{
	"name": "MainPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteExternalToRawPipeline",
				"description": "Execute External to Raw Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExternalToRawPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "GetPipelineOutputRawAdlsPath",
				"description": "Get Pipeline Output \"rawAdlsPath\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteExternalToRawPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rawAdlsPath",
					"value": {
						"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawAdlsFilePath)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"rawAdlsPath": {
				"type": "String"
			},
			"rawAccountName": {
				"type": "String"
			},
			"rawContainerName": {
				"type": "String"
			},
			"rawDirectoryName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-06T15:26:37Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}