code/synapse/pipeline/MainPipeline.json
{
	"name": "MainPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteExternalToRawPipeline",
				"description": "Execute External to Raw Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExternalToRawPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"externalContainerName": {
							"value": "@variables('externalContainerName')",
							"type": "Expression"
						},
						"externalDirectoryName": {
							"value": "@string('')",
							"type": "Expression"
						},
						"rawContainerName": {
							"value": "@variables('rawContainerName')",
							"type": "Expression"
						},
						"rawDirectoryName": {
							"value": "@string('')",
							"type": "Expression"
						},
						"externalAccountName": {
							"value": "@variables('externalAccountName')",
							"type": "Expression"
						},
						"rawAccountName": {
							"value": "@variables('rawAccountName')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteRawToCuratedPipeline",
				"description": "Execute Raw to Curated Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExternalToRawPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RawToCuratedPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"newsShowDetails": {
							"value": "@string('')",
							"type": "Expression"
						},
						"rawAccountName": {
							"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawAccountName)",
							"type": "Expression"
						},
						"rawContainerName": {
							"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawContainerName)",
							"type": "Expression"
						},
						"rawDirectoryName": {
							"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawDirectoryName)",
							"type": "Expression"
						},
						"curatedAccountName": {
							"value": "@variables('curatedAccountName')",
							"type": "Expression"
						},
						"curatedContainerName": {
							"value": "@variables('curatedContainerName')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"externalAccountName": {
				"type": "String",
				"defaultValue": "tstsynapsestg"
			},
			"externalContainerName": {
				"type": "String",
				"defaultValue": "external"
			},
			"externalDirectoryName": {
				"type": "String"
			},
			"externalFileName": {
				"type": "String"
			},
			"rawAccountName": {
				"type": "String",
				"defaultValue": "tstsynapsestg"
			},
			"rawContainerName": {
				"type": "String",
				"defaultValue": "raw"
			},
			"rawDirectoryName": {
				"type": "String"
			},
			"curatedAccountName": {
				"type": "String",
				"defaultValue": "tstsynapsestg"
			},
			"curatedContainerName": {
				"type": "String",
				"defaultValue": "curated"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-06T15:26:37Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}