code/synapse/pipeline/ParseTriggerPipeline.json
{
	"name": "ParseTriggerPipeline",
	"properties": {
		"description": "Pipeline to parse trigger details.",
		"activities": [
			{
				"name": "SetExternalContainerNameVariable",
				"description": "Set variable \"externalContainerName\"",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "externalContainerName",
					"value": {
						"value": "@first(split(pipeline().parameters.triggerFilePath, '/'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ReturnVariables",
				"description": "Return variables to main pipeline.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetExternalContainerNameVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "externalContainerName",
							"value": {
								"type": "Expression",
								"content": "@variables('externalContainerName')"
							}
						},
						{
							"key": "externalDirectoryName",
							"value": {
								"type": "Expression",
								"content": "@replace(pipeline().parameters.triggerFilePath, concat(variables('externalContainerName'), '/'), '')"
							}
						},
						{
							"key": "externalFileName",
							"value": {
								"type": "Expression",
								"content": "@pipeline().parameters.triggerFileName"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"triggerFilePath": {
				"type": "string"
			},
			"triggerFileName": {
				"type": "string"
			}
		},
		"variables": {
			"externalContainerName": {
				"type": "String"
			},
			"externalDirectoryName": {
				"type": "String"
			},
			"externalFileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-06T17:32:46Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}