code/synapse/pipeline/TestRawToCuratedPipeline.json
{
	"name": "TestRawToCuratedPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteRawToCuratedPipeline",
				"description": "Execute Raw to Curated Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExternalToRawPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"externalDirectoryName": {
							"value": "@string('')",
							"type": "Expression"
						},
						"rawDirectoryName": {
							"value": "@string('')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetPipelineVariableCuratedAdlsFilePath",
				"description": "Get Pipeline Variable \"curatedAdlsFilePath\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteRawToCuratedPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "curatedAdlsFilePath",
					"value": {
						"value": "@string(activity('ExecuteRawToCuratedPipeline').output.pipelineReturnValue.curatedAdlsFilePath)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableCuratedAccountName",
				"description": "Get Pipeline Variable \"curatedAccountName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteRawToCuratedPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "curatedAccountName",
					"value": {
						"value": "@string(activity('ExecuteRawToCuratedPipeline').output.pipelineReturnValue.curatedAccountName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableCuratedContainerName",
				"description": "Get Pipeline Variable \"curatedContainerName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteRawToCuratedPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "curatedContainerName",
					"value": {
						"value": "@string(activity('ExecuteRawToCuratedPipeline').output.pipelineReturnValue.curatedContainerName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableCuratedDirectoryName",
				"description": "Get Pipeline Variable \"curatedDirectoryName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteRawToCuratedPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "curatedDirectoryName",
					"value": {
						"value": "@string(activity('ExecuteRawToCuratedPipeline').output.pipelineReturnValue.curatedDirectoryName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfCuratedAdlsFilePath",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetPipelineVariableCuratedAdlsFilePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('curatedAdlsFilePath'), pipeline().parameters.expectedRawAdlsFilePath)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailRawAdlsFilePath",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Unexpected Value",
								"errorCode": "500"
							}
						}
					]
				}
			},
			{
				"name": "IfCuratedAccountName",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetPipelineVariableCuratedAccountName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('rawAccountName'), pipeline().parameters.expectedRawAccountName)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailRawAccountName",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Unexpected Value",
								"errorCode": "500"
							}
						}
					]
				}
			},
			{
				"name": "IfCuratedContainerName",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetPipelineVariableCuratedContainerName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('rawContainerName'), pipeline().parameters.expectedRawContainerName)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailRawContainerName",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Unexpected Value",
								"errorCode": "500"
							}
						}
					]
				}
			},
			{
				"name": "IfCuratedDirectoryName",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetPipelineVariableCuratedDirectoryName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('rawDirectoryName'), pipeline().parameters.expectedRawDirectoryName)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailRawDirectoryName",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Unexpected Value",
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"variables": {
			"curatedAdlsFilePath": {
				"type": "String"
			},
			"curatedAccountName": {
				"type": "String"
			},
			"curatedContainerName": {
				"type": "String"
			},
			"curatedDirectoryName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Tests"
		},
		"annotations": []
	}
}