code/synapse/pipeline/TestExternalToRawPipeline.json
{
	"name": "TestExternalToRawPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteExternalToRawPipeline",
				"description": "Execute External to Raw Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExternalToRawPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "GetPipelineVariableRawAdlsFilePath",
				"description": "Get Pipeline Variable \"rawAdlsFilePath\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteExternalToRawPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rawAdlsFilePath",
					"value": {
						"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawAdlsFilePath)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableRawAccountName",
				"description": "Get Pipeline Variable \"rawAccountName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteExternalToRawPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rawAccountName",
					"value": {
						"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawAccountName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableRawContainerName",
				"description": "Get Pipeline Variable \"rawContainerName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteExternalToRawPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rawContainerName",
					"value": {
						"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawContainerName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableRawDirectoryName",
				"description": "Get Pipeline Variable \"rawDirectoryName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteExternalToRawPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rawDirectoryName",
					"value": {
						"value": "@string(activity('ExecuteExternalToRawPipeline').output.pipelineReturnValue.rawDirectoryName)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"rawAdlsFilePath": {
				"type": "String"
			},
			"rawAccountName": {
				"type": "String"
			},
			"rawContainerName": {
				"type": "String"
			},
			"rawDirectoryName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-06T15:26:39Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}