code/synapse/pipeline/TestExternalParseTriggerPipeline.json
{
	"name": "TestExternalParseTriggerPipeline",
	"properties": {
		"description": "Test Pipeline for parsing trigger details",
		"activities": [
			{
				"name": "ExecuteParseTriggerPipeline",
				"description": "Execute Pipeline to parse trigger information",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ParseTriggerPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"triggerFilePath": "external/directory001",
						"triggerFileName": "movie.mp4"
					}
				}
			},
			{
				"name": "GetPipelineVariableExternalContainerName",
				"description": "Get Pipeline Variable \"externalContainerName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteParseTriggerPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "externalContainerName",
					"value": {
						"value": "@string(activity('ExecuteParseTriggerPipeline').output.pipelineReturnValue.externalContainerName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableExternalDirectoryName",
				"description": "Get Pipeline Variable \"externalDirectoryName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteParseTriggerPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "externalDirectoryName",
					"value": {
						"value": "@string(activity('ExecuteParseTriggerPipeline').output.pipelineReturnValue.externalDirectoryName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetPipelineVariableExternalFileName",
				"description": "Get Pipeline Variable \"externalFileName\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteParseTriggerPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "externalFileName",
					"value": {
						"value": "@string(activity('ExecuteParseTriggerPipeline').output.pipelineReturnValue.externalFileName)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"externalContainerName": {
				"type": "String"
			},
			"externalDirectoryName": {
				"type": "String"
			},
			"externalFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-06T15:26:39Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}